<%layout("/layout/common.html"){%>
<!-- Page content -->
<div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>首页</li>
                <li class="active">系统日志</li>
            </ol>
        </div>
    </div>
    <!-- /page header -->
    <!-- content main container -->
    <div class="main">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <section class="tile transparent">
                    <!-- tile header -->
                    <div class="tile-header transparent">
                        <h1><strong>Inline Editing</strong> Datatable</h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body rounded-corners">

                        <div class="table-responsive">
                            <div id="inlineEditDataTable_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-datatable table-custom dataTable" id="inlineEditDataTable"
                                       aria-describedby="inlineEditDataTable_info">
                                    <thead>
                                    <tr role="row">
                                        <th>昵称</th>
                                        <th>标识</th>
                                        <th>操作对象</th>
                                        <th>操作结果</th>
                                        <th>操作时间</th>
                                    </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <%
                                    var logList = p.list;
                                    for(log in logList){
                                    %>
                                    <tr>
                                        <td>${log.nick}</td>
                                        <td>${log.tag}</td>
                                        <td>${log.opObj}</td>
                                        <td><%
                                            if(log.opResult == 0){
                                            print("成功");
                                            }else{
                                            print("失败");
                                            }
                                            %></td>
                                        <td>${log.createTime,"yyyy-MM-dd HH:mm:ss"}</td>
                                    </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <b:page page="${p}" url="${base}/sys/sysLog"/>
                            </div>
                        </div>
                    </div>
                    <!-- /tile body -->

                </section>
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
    <!-- Page content end -->
    <%}%>