<%layout("/layout/common.html"){%>
<!-- Page content -->
<div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <h2>用户设置</h2>
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <ol class="breadcrumb">
                    <li>首页</li>
                    <li class="active">用户设置</li>
                </ol>
            </ol>
        </div>
    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">
        <!-- row -->
        <div class="row">
            <!-- col 12 -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile color transparent-white">
                    <!-- tile header -->
                    <div class="tile-header">
                        <h1><strong>用户信息</strong></h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.name!}</p>
                                </div>
                            </div>

                            <div class="form-group dot-line">
                                <label class="col-sm-2 control-label">昵称</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.nick!}</p>
                                </div>
                            </div>

                            <div class="form-group dot-line">
                                <label class="col-sm-2 control-label">工号</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.eId!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">年龄</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.age!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.sex!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">生日</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.birthday!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.email!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">QQ</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.qq!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.phoneNum!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.addr!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">最后登录ip</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.lastIp!}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">最后登录时间</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">${user.lastTime!,'yyyy-MM-dd HH:mm:ss'}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /tile body -->
                </section>
                <!-- /tile -->
            </div>
            <!-- /col 6 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /content container -->
</div>
    <!-- Page content end -->
<%}%>