<!DOCTYPE html>
<html xmlns:>
<head>
    <title>账单管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <%include('/imports.html'){}%>
</head>
<body class="bg-3">


<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Make page fluid -->
    <div class="row">
        <!-- Page content -->
        <div id="content" class="col-md-12 full-page login">


            <div class="inside-block">
                <h1><strong>账单管理系统</strong></h1>
                <h5>Minimal Admin Theme</h5>

                <form id="form-signin" class="form-signin" method="post" action="${base!}/login/doLogin">
                    <section>
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" data-rule="required;username;" placeholder="登录账号" value="${username!}">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" data-rule="required;password;" placeholder="密码" value="${password!}">
                            <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        </div>
                    </section>
                    <section class="controls">
                        <div class="checkbox check-transparent">
                            <input type="checkbox" value="true" id="rememberMe" name="rememberMe">
                            <label for="rememberMe">记住登录状态</label>
                        </div>
                        <!-- <a href="#">Forget password?</a> -->
                    </section>
                    <section class="log-in">
                        <button class="btn btn-greensea">登录</button>
                        <span>&nbsp;</span>
                        <a class="btn btn-slategray" href="${base!}/login/regist">注册</a>
                    </section>
                </form>
            </div>
        </div>
        <!-- /Page content -->
    </div>
</div>
<script>
    $(function () {
        var errorMsg = '${errorMsg!}';
        if(errorMsg && errorMsg!='')
            Toast.error(errorMsg, '登录失败');
    })
</script>
<!-- Wrap all page content end -->
</body>
</html>